/*app css*/

.app
  width 100%
  position relative

.appMenu
  position  fixed
  top 0
  left 0
  height 100vh
  overflow-y auto
  transition all 0.3s
  background #fff
  box-shadow 5px 0 9px 0 rgba(0, 0, 0, 0.06)


.appHeader
  position fixed
  top 0
  right 0
  box-shadow: 6px 6px 13px 0 rgba(0, 0, 0, 0.19);
  transition all 0.3s
  height 64px
  z-index 99


.appMain
  background #fff
  min-height calc(100vh - 100px);
  transition all 0.3s
  box-shadow 5px 0 9px 0 rgba(0, 0, 0, 0.06)

